@import "../../assets/normalize";
@import "../../assets/variables";
@import "../../assets/mixins";

@include onPhone {
  .countContainer {
    position: absolute;
    bottom: 60%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14px;
    width: 14px;
    background-color: $red;
    border-radius: 50%;
    border: 1px solid $white;
  }
}

@include onTablet {
  .countContainer {
    left: 50%;
    bottom: 45%;
    height: 18px;
    width: 18px;
  }
}

.numberOfItems {
  color: $white;
  font-size: 9px;
  @include smallText;
}
