.details {
  display: flex;
  justify-content: space-between;
  width: inherit;

  &--list {
    list-style: none;

    &-item {
      margin-bottom: 8px;

      font-size: 12px;
      font-weight: 700;
      line-height: 15px;

      color: #89939A;
    }
  }

  &--characteristics {
    list-style: none;

    &-item {
      margin-bottom: 8px;

      font-size: 12px;
      font-weight: 700;
      line-height: 15px;
      color: inherit;
    }
  }
}