@import "../../assets/normalize";
@import "../../assets/variables";
@import "../../assets/mixins";

.details {
  display: flex;
  justify-content: space-between;
  width: inherit;
  margin-bottom: 56px;

  @include onTablet{
    margin-bottom: 0;
  }


  &--list {
    list-style: none;

    &-item {
      margin-bottom: 8px;

      font-size: 12px;
      font-weight: 700;
      line-height: 15px;

      color: #89939A;
    }
  }

  &--characteristics {
    list-style: none;

    &-item {
      margin-bottom: 8px;

      font-size: 12px;
      font-weight: 700;
      line-height: 15px;
      color: inherit;
      text-align: end;
    }
  }
}
