@import "../../assets/normalize";
@import "../../assets/variables";
@import "../../assets/mixins";

.details {
  display: flex;
  justify-content: space-between;
  width: inherit;
  margin-bottom: 56px;

  @include onTablet{
    margin-bottom: 0;
  }


  &--list {
    list-style: none;

    &-item {
      margin-bottom: 8px;

      @include smallText;
      color: $secondary;
    }
  }

  &--characteristics {
    list-style: none;

    &-item {
      margin-bottom: 8px;

      @include smallText;
      color: $primary;
      text-align: end;
    }
  }
}
