@import '../../assets/mixins';

.PhonePage {
  &--title {
    @include headline-1;
    margin-bottom: 8px;
  }

  &--phoneCount {
    margin-bottom: 32px;

    font-size: 14px;
    font-weight: 600;
    line-height: 21px;

    color: #89939A;
  }

  &--container {
    @include pageGrid;

    justify-items: center;
    row-gap: 40px;
  }
}