@import '../../assets/mixins';

.PhonePage {
  padding: 16px 24px;
  max-width: 1136px;
  margin: 0 auto;

  @include onTablet {
    padding: 24px 16px;
  }

  @include onLargeDesktop {
    padding: 32px 32px;
  }

  &--title {
    @include headline-1;
  }

  &--container {
    display: grid;
    justify-items: center;

    @include pageGrid;

    @include onTablet {
      grid-template-columns: repeat(auto-fill, minmax(229px, 6fr));
      justify-items: start;
    }

    @include onLargeDesktop {
      grid-template-columns: repeat(4, 6fr);
    }
  }
}
