@import '../../assets/mixins';

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;

  width: 288px;
  height: 440px;
  padding: 32px;

  border: 1px solid #E2E6E9;

  @include onTablet {
  width: 229px;
  height: 506px;
  }

  &--photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 223px;
    height: 130px;
    margin-bottom: 8px;
  }

  &--image {
    width: 45%;
    height: 100%;
  }

  &--title {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
  }

  &--prices {
    display: flex;
    justify-content: left;

    width: 100%;
  }

  &--price {
    margin-right: 8px;

    font-size: 22px;
    font-weight: 800;
    line-height: 31px;

    text-align: left;
    &-maxPrice {
      opacity: 0;
      
      
      @include onLargeDesktop {
        opacity: 1;

        color: #89939A;
        font-weight: 400;

        text-decoration: line-through;
      }
    }
  }

  &--bottom {
    width: 100%;
  }
}

