@import '../../assets/colors/colors.scss';

@media (min-width: 639px) {
  .burger {
    display: none;
  }
}

@media (max-width: 639px) {
  .burger {
    overflow: hidden;
    position: relative;
    transition: 1s;
    top: 1px;
    width: 100%;
    height: 100vh;
    left: 0;
    z-index: 1;
    transform: translate(-100%);
    background-color: #fff;

    &__links {
      padding-top: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;

      a {
        margin: 0;
      }
    }

    &__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 24px;
    }

    &__service {
      border: none;
      display: flex;
      justify-content: space-around;
      position: fixed;
      bottom: 48px;
      width: 100%;
      height: 64px;
      align-items: center;
      background: $white;
    }

    &_opened {
      transform: translate(0%);
    }
  }

  .imageContainer {
    position: relative;
  }

  .service {
    &__button {
      border: none;
      background: $white;
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      text-decoration: none;

      &::after {
        position: absolute;
        bottom: 0;
        content: '';
        display: block;
        width: 100%;
        border-bottom: 2px solid transparent;
      }

      img {
        transition: transform 0.3s ease-in-out;
      }

      &:hover {
        cursor: pointer;
        img {
          transform: scale(1.1);
        }

        &::after {
          border-bottom: 2px solid $primary;
        }

        &-active {
          img {
            transform: scale(1.1);
          }

          &::after {
            border-bottom: 2px solid $primary;
          }
        }
      }
    }

    &__like {
      box-shadow: -1px 0px 0px 1px $elements;
    }

    &__cart {
      box-shadow: -1px 0px 0px 1px $elements;
    }

    &__orders {
      box-shadow: -1px 0px 0px 1px $elements;
    }
  }
}