@import "../../assets/normalize";
@import '../../assets/colors';
@import '../../assets/variables';
@import "../../assets/mixins";

.сarusel {
  position: relative;
}

.arrou {
  display: flex;
  height: 32px;
  background-color: #fff;
  border: 1px solid rgba(180, 189, 195, 1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &--right {
    transform: rotate(180deg);
  }

  &--left {
    transform: rotate(0deg);
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.my-own-custom-container {
  display: flex;
  flex-direction: column-reverse;
};

.carousel-button-group {
  display: flex;
  justify-content: end;
  gap: 16px;
};