@import "../../assets/normalize";
@import '../../assets/colors';
@import '../../assets/variables';
@import "../../assets/mixins";

.сarusel {
  position: relative;
  padding-bottom: 64px;

  @include onDesktop {
    padding-bottom: 80px;
  }

  &__title {
    @include headline-2;
    color: $primary
  }
}

.button {
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer;

  &--left {
    transform: rotate(180deg)
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.corusel__container {
  display: flex;
  flex-direction: column-reverse;
}

.carousel-button-group {
  display: flex;
  justify-content: end;
  gap: 16px;
}

.Cards{
  display: flex;
  padding-block: 16px;
  border: 1px solid green;
}

.cart{
  display: flex;
  align-items: center;
}