@import "../../assets/normalize";
@import '../../assets/colors';
@import '../../assets/variables';
@import "../../assets/mixins";


.carousel-buttons {
  display: flex;
  gap: 16px;
}

.button {
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer;

  &--left {
    transform: rotate(180deg)
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.carusel {
  padding-bottom: 80px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  &__sliderFull {
    max-width: 1200px;
    display: flex;
    gap: 16px;
    flex-direction: row;
    padding-top: 16px;
    white-space: nowrap;
  }

  &__slider {
    max-width: 1200px;
    display: flex;
    gap: 16px;
    flex-direction: row;
    padding-top: 16px;
    white-space: nowrap;
    overflow: hidden;
  }
}

.carusel__slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carusel-card {
  transition: transform 0.5s ease-in-out;
}

.carusel-card--active {
  transform: translateX(0);
}

.carusel__title {
  @include headline-2;
  color: $primary;
}

