@import '../../assets/_mixins.scss';

.CartPage {
  padding: 16px 24px;
  @include onTablet {
    padding: 24px 16px;
  }
  @include onLargeDesktop {
    padding: 32px 32px;
  }

  &--title {
    margin-bottom: 32px;
  }

  &--section {
    @include pageGrid;
    @include onTablet {
      grid-template-columns: repeat(1, 12fr);
    }
    @include onLargeDesktop {
      grid-template-columns: 16fr 8fr;
    }
  }

  &--block {
    display: grid;

    row-gap: 16px;
  }
}