@import '../../assets/_mixins.scss';

.CartPage {
  &--title {
    @include headline-1;
    margin-bottom: 32px;
  }

  &--section {
    @include pageGrid;
    row-gap: 32px;

    @include onTablet {
      grid-template-columns: repeat(1, 12fr);
    }
    @include onLargeDesktop {
      grid-template-columns: 16fr 8fr;
    }
  }

  &--block {
    display: grid;
    row-gap: 16px;
  }
}
