@import '../assets/mixins';

.SortPanel {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;

  @include onTablet {
    flex-direction: row;
  }

  &--title {
    margin-bottom: 4px;

    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    color: #89939A;
  }

  &--fields {
    width: 136px;
    height: 40px;
    padding: 10px 12px;

    font-size: 14px;
    font-weight: 700;
    line-height: 21px;

    border: 1px solid #B4BDC3;

    @include onTablet {
      width: 176px;
    }
  }
}
