.SortPanel {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;

  &--title {
    margin-bottom: 4px;

    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    color: #89939A;
  }

  &--fields {
    width: 136px;
    height: 40px;
    padding: 10px 12px;

    font-size: 14px;
    font-weight: 700;
    line-height: 21px;

    border: 1px solid #B4BDC3
  }
}