@import '../../assets/normalize.scss';
@import '../../assets/colors.scss';
@import '../../assets/variables';
@import "../../assets/mixins";

@mixin iconseSize {
  width: 16px;
  height: 16px;
}

.header {
  position: sticky;
  top: 0%;
  margin-bottom: 24px;
  height: 64px;
  border-bottom: 1px solid $elements;
  background: $white;
  z-index: 10;

  @include onTablet {
    margin-bottom: 32px;
  }

  @include onDesktop {
    margin-bottom: 56px;
  }

  &__logo {
    display: block;
    width: 80px;
    margin: 0 24px;
  }

  &__logo:hover {
    animation: wave 2s infinite linear;
  }

  &__logo.active {
    position: relative;
    color: $primary;
  }

  &__service {
    display: flex;
  }
}

.container {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link.active {
  color: initial;

  &::after {
    display: none;
  }
}

.service_btn {
  position: relative;
  width: 64px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0;
  cursor: pointer;
  background: transparent;
  border: none;
  border-left: 1px solid $elements;
  text-decoration: none;

  &_img {
    position: absolute;
    transition: transform 0.3s ease-in-out;

    @include onDesktop {
      position: relative;
      width: 16px;
    }
  }

  &:hover .service_btn_img {
    transform: scale(1.1);
  }
}

.cart__products_counter {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: purple;
  border: 1px solid white;
  border-radius: 50%;

  &-text {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
  }
}

.active {
  position: relative;
  color: $primary;
}

.active::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: $primary;
  border-radius: 8px;
}

.burger_btn {
  width: 48px;
  display: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-left: 1px solid $elements;

  &_img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease-in-out;
  }

  &-active {
    background-color: $white;
  }

  &:hover .burger_btn_img {
    transform: scale(1.1);
  }
}

.dropdown-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  row-gap: 10px;
  border-radius: 8px;
  margin: 4px;
  top: 64px;
  right: 0;
  width: 192px;
  background: $white;
  border-bottom: 1px solid $elements;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;

  &--link {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: $secondary;
    padding: 4px;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      color: $primary;
      border-radius: 8px;
      background-color: $hover-and-bg;
    }
  }
}

.errorModalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: fixed;
  top: 50%;
  text-align: center;
  left: 50%;
  width: 600px;
  transform: translate(-50%, -50%);
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background-color: white;
  opacity: 0;
  transition: 0.5s;

  &Active {
    top: 50%;
    left: 50%;
    opacity: 1;
    transition: 0.5s;
  }

  &Text {
    font-size: 32px;
    font-weight: 700;
  }

  &Error {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
  }

  &Button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;

    font-weight: 700;
    font-size: 14px;
    line-height: 21px;

    border: none;
    border-radius: 48px;

    background: #4219d0;
    color: #fff;

    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      box-shadow: 0 3px 13px 0 rgba(23, 32, 49, 0.4);
    }
  }
}

@media (max-width: 639px) {
  .container {
    padding: 0;
    overflow: hidden;
  }

  .service_btn {
    display: none;
  }

  .dropdown-content {
    width: 144px;
  }

  .nav {
    display: none;
  }

  .headerCounter {
    position: absolute;
    top: 25%;
    right: 40%;
  }

  .burger_btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1199px) {
  .container {
    padding-left: 16px;
  }

  .header {
    height: 48px;

    &__logo {
      width: 64px;
      margin: 0 16px;
    }
  }

  .dropdown-content {
    top: 48px;
    width: 192px;
  }

  .service_btn {
    width: 48px;

    &_img {
      position: relative;
      width: 16px;
      height: 16px;
    }
  }
}

@keyframes wave {

  0%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-4px);
  }

  75% {
    transform: translateY(4px);
  }
}

.burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.burger-btn img {
  width: 16px;
  height: 16px;
}

