@import '../../assets/mixins';

.AccessoriesPage {
  padding: 16px 24px;
  max-width: 1136px;
  margin: 0 auto;

  @include onTablet {
    padding: 24px 16px;
  }

  @include onLargeDesktop {
    padding: 32px 32px;
  }

  &--title {
    @include headline-1;
    margin-bottom: 8px;
  }

  &--accessoriesCount {
    margin-bottom: 32px;

    font-size: 14px;
    font-weight: 600;
    line-height: 21px;

    color: #89939A;
  }

  &--container {
    display: grid;
    justify-items: center;
    justify-content: center;
    row-gap: 40px;

    @include pageGrid;

    @include onTablet {
      grid-template-columns: repeat(auto-fill, minmax(229px, 230px));
      justify-items: start;
    }

    @include onLargeDesktop {
      grid-template-columns: repeat(4, 6fr);
    }
  }
}