@import "../../assets/normalize";
@import "../../assets/variables";
@import "../../assets/colors";
@import "../../assets/mixins";

.footerContainer {
  margin-top: auto;

  border-top: 1px solid $secondary;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  background-color: $white;

  @include onTablet {
    padding: 32px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @include onDesktop {
    justify-content: space-between;
  }

  @include onLargeDesktop {
    padding: 32px 152px;
  }
}

.footerLogo {
  width: 89px;
  height: 30.252px;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include onTablet {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13.5px;
  }

  @include onDesktop {
    gap: 100px;
  }
}

.footerLinkItem {
  @include uppercaseText;
  color: $secondary;
  text-decoration: none;
}

.footerGoUp {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.goUpText{
  @include smallText;
  font-weight: 700;
  color: $secondary;
}

.goUpBtn {
  display: block;
}
