@import '../../assets/mixins';

.card {
  &--price {
    display: flex;
    justify-content: left;
    align-items: center;

    width: 100%;

    &-current {
      margin-right: 8px;

      font-size: 22px;
      font-weight: 800;
      line-height: 31px;

      text-align: left;
    }

    &-maxPrice {
      font-size: 22px;
      font-weight: 600;
      color: #89939A;
      text-decoration: line-through;
    }
  }
}