@import './variables.scss';
@import './mixins';
@import './colors.scss';

.CataloguePage {
  &__title {
    @include headline-1;
    margin-bottom: 8px;
  }

  &__CatalogueCount {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;

    color: #89939A;
  }

  &__container {
    display: grid;
    justify-items: center;
    row-gap: 40px;
    margin-bottom: 24px;

    @include pageGrid;

    @include onTablet {
      grid-template-columns: repeat(auto-fill, minmax(229px, 288px));
      justify-items: start;
    }
  }
}
