@import "../../assets/normalize";
@import "../../assets/variables";
@import "../../assets/colors";
@import "../../assets/mixins";

.breadcrumbs {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 24px;
  align-items: center;
}

.homeImg{
  width: 100%;
  height: 100%;
  display: block;
}

.arrowRight {
  transform: rotateY(180deg);
}

.lastCrumb {
  color: $icons;
}

.crumb {
  text-transform: capitalize;
}
