@import "../../assets/normalize";
@import "../../assets/variables";
@import "../../assets/colors";
@import "../../assets/mixins";

.breadcrumbs {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0 24px;

  @include onTablet {
    padding: 0 16px;
  }

  @include onDesktop {
    padding: 0 32px;
  }
}

.homeImg{
  width: 100%;
  height: 100%;
  display: block;
}

.arrowRight {
  transform: rotateY(180deg);
}

.lastCrumb {
  color: $icons;
}
