@import "../../assets/normalize";
@import '../../assets/colors.scss';
@import '../../assets/variables';
@import "../../assets/mixins";

.mainPageContainer {
  padding: 0 16px;
  max-width: 1136px;
  margin: 0 auto;
}

.section{
  margin-bottom: 32px;
}

.sectionTitle {
  @include headline-2;
  color: $primary;

  margin-bottom: 24px;
}