.notFound {
  &--section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &--title {
    font-family: Mont;
    font-size: 46px;
    font-weight: 700;
  }
}

.homeButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 240px;
  height: 48px;
  margin-bottom: 80px;

  text-decoration: none;
  background: #313237;
  border-radius: 4px;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
}